.home{
    display: flex;
    
    &--size{
        width: 100%;
        height: 100vh;
    }   

    &--theme{

    }

    &__container{

        &--size{
            width: 100%;
            height: 100%;
        }
    }
}